@model AboutVM
@{
    ViewData["Title"] = "Index";
}



<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                <span></span> Pages <span></span> About us
            </div>
        </div>
    </div>
    <div class="page-content pt-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 col-lg-12 m-auto">
                    <section class="row align-items-center mb-50">
                        <div class="col-lg-6">
                            <img src="assets/imgs/page/@Model.WelcomeNest.Image" alt="" class="border-radius-15 mb-md-3 mb-lg-0 mb-sm-4" />
                        </div>
                        <div class="col-lg-6">
                            <div class="pl-25">
                                <h2 class="mb-30">Welcome to Nest</h2>
                                <p class="mb-25">@Model.WelcomeNest.Description1</p>
                                <p class="mb-50">@Model.WelcomeNest.Description2</p>
                                
                            </div>
                        </div>
                    </section>
                    <section class="text-center mb-50">
                        <h2 class="title style-3 mb-40">What We Provide?</h2>
                        <div class="row">

                            @foreach (var item in Model.Provides)
                            {
                            <div class="col-lg-4 col-md-6 mb-24">
                                <div class="featured-card">
                                    <img src="assets/imgs/theme/icons/@item.Image" alt="" />
                                    <h4>@item.Title</h4>
                                    <p>@item.Description</p>
                                    <a href="#">Read more</a>
                                </div>
                            </div>

                            }
                          
                        </div>
                    </section>
                    <section class="row align-items-center mb-50">
                        <div class="row mb-50 align-items-center">
                            <div class="col-lg-7 pr-30">
                                <img src="assets/imgs/page/@Model.OurPerformances.Image" alt="" class="mb-md-3 mb-lg-0 mb-sm-4" />
                            </div>
                            <div class="col-lg-5">
                                <h4 class="mb-20 text-muted">Our performance</h4>
                                <h1 class="heading-1 mb-40"></h1>
                                <p class="mb-30">@Model.OurPerformances.Descriptoion1</p>
                                <p>@Model.OurPerformances.Descriptoion2</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 pr-30 mb-md-5 mb-lg-0 mb-sm-5">
                                <h3 class="mb-30">Who we are</h3>
                                <p>Volutpat diam ut venenatis tellus in metus. Nec dui nunc mattis enim ut tellus eros donec ac odio orci ultrices in. ellus eros donec ac odio orci ultrices in.</p>
                            </div>
                            <div class="col-lg-4 pr-30 mb-md-5 mb-lg-0 mb-sm-5">
                                <h3 class="mb-30">Our history</h3>
                                <p>Volutpat diam ut venenatis tellus in metus. Nec dui nunc mattis enim ut tellus eros donec ac odio orci ultrices in. ellus eros donec ac odio orci ultrices in.</p>
                            </div>
                            <div class="col-lg-4">
                                <h3 class="mb-30">Our mission</h3>
                                <p>Volutpat diam ut venenatis tellus in metus. Nec dui nunc mattis enim ut tellus eros donec ac odio orci ultrices in. ellus eros donec ac odio orci ultrices in.</p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <section class="container mb-50 d-none d-md-block">
            <div class="row about-count">
                <div class="col-lg-1-5 col-md-6 text-center mb-lg-0 mb-md-5">
                    <h1 class="heading-1"><span class="count">12</span>+</h1>
                    <h4>Glorious years</h4>
                </div>
                <div class="col-lg-1-5 col-md-6 text-center">
                    <h1 class="heading-1"><span class="count">36</span>+</h1>
                    <h4>Happy clients</h4>
                </div>
                <div class="col-lg-1-5 col-md-6 text-center">
                    <h1 class="heading-1"><span class="count">58</span>+</h1>
                    <h4>Projects complete</h4>
                </div>
                <div class="col-lg-1-5 col-md-6 text-center">
                    <h1 class="heading-1"><span class="count">24</span>+</h1>
                    <h4>Team advisor</h4>
                </div>
                <div class="col-lg-1-5 text-center d-none d-lg-block">
                    <h1 class="heading-1"><span class="count">26</span>+</h1>
                    <h4>Products Sale</h4>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="row">
                <div class="col-xl-10 col-lg-12 m-auto">
                    <section class="mb-50">
                        <h2 class="title style-3 mb-40 text-center">Our Team</h2>
                        <div class="row">
                            <div class="col-lg-4 mb-lg-0 mb-md-5 mb-sm-5">
                                <h6 class="mb-5 text-brand">Our Team</h6>
                                <h1 class="mb-30">@Model.ExpertMeet.Title</h1>
                                <p class="mb-30">@Model.ExpertMeet.Description1</p>
                                <p class="mb-30">@Model.ExpertMeet.Description2</p>
                                <a href="#" class="btn">View All Members</a>
                            </div>
                            <div class="col-lg-8">
                                <div class="row">

                                    @foreach (var item in Model.OurTeams)
                                    {

                                    <div class="col-lg-6 col-md-6">
                                        <div class="team-card">
                                            <img src="assets/imgs/page/@item.Image" alt="" />
                                            <div class="content text-center">
                                                <h4 class="mb-5">@item.FullName</h4>
                                                <span>@item.Position</span>
                                                <div class="social-network mt-20">
                                                    @if (item.PinttLink.Count() > 0)
                                                    {
                                                        <a href="#"><img src="assets/imgs/theme/icons/@item.PinttLink" alt="" /></a>

                                                    }

                                                    @if (item.VimeoLink.Count() > 0)
                                                    {

                                                        <a href="#"><img src="assets/imgs/theme/icons/@item.VimeoLink" alt="" /></a>
                                                    }
                                                    @if (item.TwtLink.Count() > 0)
                                                    {

                                                        <a href="#"><img src="assets/imgs/theme/icons/@item.TwtLink" alt="" /></a>

                                                    }
                                                    @if (item.Fblink.Count() > 0)
                                                    {

                                                    <a href="#"><img src="assets/imgs/theme/icons/@item.Fblink" alt="" /></a>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    }
                                   
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>